{% extends "base.html" %}{% block title %}Notes{% endblock %} {% block content%}

<div align="center" class="container">
  <form method="POST" class="forming-style" id="noteForm">
    <textarea
      name="note"
      id="note"
      class="text"
      placeholder="Write note here"
    ></textarea>
    <br />
    <div class="palettet">
      <button type="submit" class="btn">Add Note</button>
    </div>
  </form>
</div>
<br />
<br />
<section class="Note-frame">
  <div align="center">
    <ul class="list-group" id="note" style="display: flex; flex-wrap: wrap;">
      {% for note in user.notes %}
      <li
        class="list-group-item Note-list"
        id="list-group-item-{{ note.id }}"
        style="list-style-type: none; width: 20%;" 
      >
        <div style="text-align:left;;">
          <button
            type="button"
            class="close"
            onClick="DeleteNote({{ note.id }})"
            style="background: none; border: none; padding-right: 10px; "
          >
            <i
              class="material-icons"
              style="
                color: black;
                margin: 0;
                text-align: left;
                position: top-left;
              "
            >delete</i>
          </button>
          <button
            type="button"
            class="update"
            onclick="UpdateNote({{ note.id }})"
            style="background: transparent; border: none; padding-right: 10px;"
          >
            <i
              id="rotateButton"
              class="material-icons"
              style="
                color: black;
                margin: 0;
                text-align: left;
                position: top-left;
              "
            >update</i>
          </button>
        </div>
        <form
          method="POST"
          action="{{ url_for('views.update_note', note_id=note.id) }}"
          id="updateNoteForm-{{ note.id }}"
        >
          <textarea
            name="update-note"
            class="text"
            cols="30"
            rows="10"
            style="
              box-sizing: border-box;
              height: fit-content;
              background: transparent;
              border: transparent;
            "
          >{{ note.data }}
        </textarea>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% block javascript %}





{% endblock %}
{% endblock %}



<!-- 
<button
type="button"
style="background: transparent; border: none; background-color: {{ note.color }}"
id="changeColorButton-{{ note.id }}"
class="theme-color"
onclick="changeThemeColor({{ note.id }})"
>
<i class="material-icons" style="box-sizing: border-box">palette</i>
</button> -->