{% extends "base.html" %} 
{% block title %}Update Profile{% endblock %} 
{% block content%}
    <form action="{{ url_for('views.edit_profile') }}" method="POST" class="forms-style">
        <h2>Edit Profile</h2><br>
        <input type="text" id="username" name="username" value="{{ current_user.user_name }}" required placeholder="Username" >
        <br><br>
        <input type="email" id="email" name="email" value="{{ current_user.email }}" required placeholder="Email" >
        <br><br>
        <div class="password-container">
            <input type="password" id="current_password" name="current_password" placeholder="Current Password" >
            <i class="fas fa-eye" id="togglesPassword"></i><br>
            <input type="password" id="password" name="password" placeholder="New Password" >
            <i class="fas fa-eye" id="togglePassword"></i>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary" value="Save Changes">Save</button>
    </form>
{% endblock %}
