{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<br />
<br />
<div class="body" style=""></div>
<head>
  <h1 align="center">All Notes</h1></head
><br /><br /><br />
<section class="Note-frame">
  <div align="center">
    <!-- <h1>Notes</h1> -->
    <!-- <label for="list-group-item" style="font-weight: bolder; position: fixed; text-align: center;"><h1>Notes</h1></label> -->
    <ul class="list-group" id="notes" style="display: flex">
      {% for note in user.notes %}
      <li
        class="list-group-item Note-list"
        id="list-group-item-{{ note.id }}"
        style="list-style-type: none; width: 20%"
      >
        <div style="text-align: left">
          <button
            type="button"
            class="close"
            onClick="DeleteNotes({{ note.id }})"
            style="background: none; border: none; padding-right: 10px"
          >
            <i
              class="material-icons"
              style="
                color: black;
                margin: 0;
                text-align: left;
                position: top-left;
              "
              >delete</i
            >
          </button>
          <button
            type="button"
            class="update"
            onclick="UpdateNotes({{ note.id }})"
            style="background: transparent; border: none; padding-right: 10px"
          >
            <i
              id="rotateButton"
              class="material-icons"
              style="
                color: black;
                margin: 0;
                text-align: left;
                position: top-left;
              "
              >update</i
            >
          </button>
        </div>
        <form
          method="POST"
          action="{{ url_for('views.update_note', note_id=note.id) }}"
          id="updateNoteForm-{{ note.id }}"
        >
          <textarea
            name="update-notes"
            class="text"
            cols="30"
            rows="10"
            style="
              box-sizing: border-box;
              height: fit-content;
              background: transparent;
              border: transparent;
            "
          >
{{ note.data }}
          </textarea>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% block javascript %} {% endblock %} {% endblock %}
