{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
    <div class="forms-style" align="center" >
        <div align="left">
            <h2>Profile: </h2><br>
            <p><strong>Username:</strong> {{ current_user.user_name }}</p><br>
            <p><strong>Email:</strong> {{ current_user.email }}</p><br><br>
        </div>
        <!-- <p><strong>password:</strong> {{ current_user.password }}</p> -->
       <a href="{{ url_for('views.edit_profile') }}"> <button type="submit" class="btn" >Edit Profile</button></a>
        
    </div>
{% endblock %}