{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
    <div align="center" >
        <form method="POST"  class="form-style">
            <h2>Create Accout</h2>
            <br>
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
            <br/>
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email Address">
            </div>
            <br />
            <div class="form-group">
                <input type="password" id="password1" name="password1" placeholder="Password">
            </div>
            <br />
            <div class="form-group">
                <input type="password" id="password2" name="password2" placeholder="Confirm Password">
            </div>
            <br/>
            <button type="submit" class="btn">Sing Up</button>
            <p class="login-signUp">Click to<a href="{{ url_for('auth.login') }}"> Login</a></p>
        </form>
    </div>
{% endblock %}