@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    height: 100%;
    width: 330px;
    position: relative;
}
input[type="checkbox"]{
    display: none;
}
.wrapper .menu-btn{
    position: absolute;
    top: 10px;
    left: 20px;
    height:45px;
    width: 45px;
    z-index: 999;
    color: #fff;
    background: rgb(0, 0, 0);
    border: 1px solid #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 23px;
    transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
    left: 250px;
    
}
#btn:checked ~ .menu-btn i::before{
    content: "clear";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    margin: 0 10px;   
}
#btn:not(:checked) ~ .menu-btn i::after{
    content: "sort";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    font-size: 24px;
}

.wrapper #sidebar{
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0 10px 280px 0;
    position: fixed;
    height: 100%;
    width: 270px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
}
#btn:checked ~ #sidebar{
    left: 0;
}
#sidebar .title{
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    background:#cccccc ;
    text-align: center;
    border-radius:0 0 20px 20px;
}

#sidebar .list-items{
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 0;
    
}
#sidebar .list-items li {
    padding: 10px;
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease ;
    margin-top: 20px;
    padding-left: 30px;
}
#sidebar .list-items li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;;
    box-shadow: 0 0 10px 3px #cccccc;
}
#sidebar .list-items li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    width: 100%;
    display: block;
    
}
.container form .palettet i:hover{
    cursor: pointer;
    color: rgb(177, 174, 174) !important;
}

.list-group-item button i:hover{
    cursor: pointer;
    color: rgb(177, 174, 174) !important;
}

.mystyle{
    list-style-type: none; 
    background: #cccccc;
    padding-bottom: 25px; 
    color: rgb(3, 3, 3); 
    width: 100%;
    margin: 0;
    border-radius:0 0 20px 20px;
}


a{
    text-decoration: none;
    color: rgb(81, 0, 255);
}
form p{
    margin-top: 20px;
}

.forming-style{
    padding: 30px 40px;
    width: 420px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;

}

.Note-list{
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, .2);
    background-color:#fff;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);


    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 55px;
    height: fit-content;
    resize: auto;   
}


li button i{
    margin-top: 0%;
    padding-top: 0%;

}


.form-style{
    padding: 30px 30px;
    width: 420px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    margin: 4.8%;
    background: #fff;
    position: relative;
}

.forms-style {
    padding: 30px;
    width: 420px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    margin: 6%;
    background: #fff;
    position: relative;
    left: 45%;
    transform: translateX(-50%);
}

input, textarea{
    width: 70%;
    padding: 15px;
    margin: 0;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-sizing: border-box;
    background-color: transparent;
}
textarea{
    width: 100%;
    height:fit-content;
    overflow-y:auto;
    resize: none;
}

.btn{
    background-color: rgb(0, 0, 0); 
    color: #fff; 
    border-radius: 5px; 
    padding: 15px; 
    border: none;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    width: 30%;
}
body{
    align-items: center;
    background:  #ffe4e1;
    margin: 0;
    padding: 0;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(177, 174, 174);
    color: black;
}


.list-box{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;
    list-style: none;
    padding:0;
    margin: 0;
    overflow-y: hidden;

}


ul li form button i{
    text-align:left;
}


ul li button i:hover{
    cursor: pointer;
    color: rgb(177, 174, 174) !important;
}

#sidebar{

    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

ul#note.list-group{
    margin-left: 50px;
    margin-right: 0px;
}
.content {

    box-sizing: border-box;
    overflow: auto;

}




@keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #rotateButton {
    animation: rotateAnimation 20s linear infinite; /* Adjust the animation duration for a slower effect */
  }